@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  height: 100%;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-index {
  flex-grow: 1;
}

/* index */

/* header */

.main-header {
  text-align: center;
}

.main-nav {
  display: flex;
  padding: 0 70px;
  position: relative;
}

.logo {
  position: absolute;
}

.main-nav-list {
  margin: 0;
  margin-left: 169px;
  padding: 0;
  list-style: none;
  width: 500px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.search-nav-list {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  width: 88px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-nav-link {
  display: block;
  width: 44px;
  height: 64px;
  text-decoration: none;
}

.search-nav-link--search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-nav-link--like {
  background-image: url("../images/icons/like.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-nav-link-quantity {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
}

.search-nav-link-basket {
  padding: 8px 34px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  align-self: center;
}

.search-nav-link-basket:hover {
  background-color: #615048;
}

.search-nav-link-basket:active {
  color: rgba(255, 255, 255, 0.30);
}

.main-index {
  text-align: center;
}

/* hero */

.hero {
  background: url("../images/hero-background-mask.svg") no-repeat center bottom -1px, url("../images/hero-background.jpg") no-repeat center/cover;
  padding-top: 52px;
  padding-bottom: 83px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* advantages */

.advantages {
  padding-top: 69px;
}

.advantages-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 113px 85px;
  width: 230px;
}

.advantages-item-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 27px 30px 27px;
  margin-bottom: 30px;
  position: relative;
}

.advantages-item-title::before {
  content: " ";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: calc(50% - 30px);
  bottom: 0;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.item-blue-wrapper {
  padding: 102px 85px;
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantages-item--blue {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  width: 1200px;
  padding: 0;
}

.advantages-item-title--blue {
  color: #ffffff;
}

.advantages-item--light {
  background-color: rgba(131, 179, 211, 0.12);
}

/* features */

.features {
  padding-top: 64px;
}

.features-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.features-text {
  margin: 0;
  margin-bottom: 64px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  padding: 81px 85px;
  padding-top: 183px;
  width: 230px;
}

.features-item--housing {
  background: url("../images/icons/housing.svg") no-repeat center 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item--food {
  background: url("../images/icons/food.svg") no-repeat center 81px;
}

.features-item--souvenirs {
  background: url("../images/icons/souvenirs.svg") no-repeat center 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.features-item-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

/* search */

.search {
  padding: 96px 304px;
}

.search-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.search-text {
  margin: 0;
  margin-bottom: 54px;
}

.search-link {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.search-link:hover {
  background-color: #615048;
}

.search-link:active {
  color: rgba(255, 255, 255, 0.30);
}

/* subscription */

.subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 96px 0 104px 0;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscription-text {
  margin: 0 auto;
  margin-bottom: 54px;
  width: 475px;
}

.subscription-form-btn {
  padding: 8px 50px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  color: inherit;
}

.subscription-form-btn:hover {
  background-color: #68A2CA;
}

.subscription-form-btn:active {
  color: rgba(255, 255, 255, 0.30);
}

.subscription-form-email {
  width: 452px;
  height: 52px;
  border: none;
  padding: 0;
  padding-left: 20px;
}

/* main-footer */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.socials-link {
  display: block;
  width: 48px;
  height: 40px;
}

.socials-link--vkontakte {
  background: url("../images/icons/vkontakte.svg") no-repeat center;
}

.socials-link--telegram {
  background: url("../images/icons/telegram.svg") no-repeat center;
}

.socials-link--youtube {
  background: url("../images/icons/youtube.svg") no-repeat center;
}

.main-footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.main-footer-phone:hover {
  color: #756157;
}

.main-footer-phone:active {
  color: #756157;
  opacity: 0.3;
}

/* catalog */

/* filter */

.main-catalog {
  flex-grow: 1;
}

.catalog-filter {
  background-color: #82B3D3;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 73px 70px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  padding-left: 20px;
  margin-left: 11px;
  background: url(../images/icons/arrow.svg) no-repeat center left;
}

.breadcrumbs-link--index {
  background: url("../images/icons/home.svg") no-repeat center;
  display: block;
  width: 13px;
  height: 15px;
  margin: 0;
  padding: 0;
}

.catalog-form {
  display: flex;
  justify-content: space-between;
}

.catalog-infrastructure {
  width: 151px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-housing {
  width: 151px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-price {
  width: 288px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-form-label {
  font-size: 18px;
  line-height: 23px;
  display: block;
}

.catalog-housing-input {
  font-size: 18px;
  line-height: 23px;
}

.catalog-price-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  width: 103px;
  border: none;
}

.catalog-button-wrapper {
  width: 191px;
}

.catalog-filter-submit {
  padding: 8px 50px;
  border: none;
  font-family: inherit;
  background-color: #82b3d3;
  color: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-reset {
  padding: 8px 50px;
  border: none;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog {
  padding: 50px 70px 0 70px;
}

.catalog-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-filter-recult {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 350px;
  margin: 0;
  margin-right: 200px;
}

.catalog-sorting {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  margin-right: auto;
}

.card-view {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.card-view-btn {
  display: block;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-view-btn:hover {
  border: 2px solid #000000;
}

.card-view-btn--activ {
  border: 2px solid #000000;
}

.card-view-btn--grid {
  background: url("../images/icons/grid.svg") no-repeat center;
}

.card-view-btn--card {
  background: url("../images/icons/card.svg") no-repeat center;
}

.card-view-btn--list {
  background: url("../images/icons/list.svg") no-repeat center;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.card-list-item {
  width: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.card-list-img {
  margin-bottom: 16px;
  display: block;
}

.card-list-link {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 3;
}

.card-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.card-list-price {
  font-size: 18px;
  line-height: 21px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  margin-bottom: 16px;
}

.card-list-more {
  display: inline-block;
  text-decoration: none;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 16px;
}

.card-list-more:hover {
  background-color: #615048;
}

.card-list-more:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #756157;
}

.card-list-favorites {
  font-family: inherit;
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 16px;
  cursor: pointer;
}

.card-list-favorites:hover {
  background-color: #68A2CA;
}

.card-list-favorites:active {
  color: rgba(255, 255, 255, 0.30);
}

.card-list-favorites--active {
  background-color: #7db54f;
  padding: 8px 18px;
}

.card-list-favorites--active:hover {
  background-color: #6C9E42;
}

.card-list-favorites--active:active {
  color: rgba(255, 255, 255, 0.30);
}

.stars {
  width: 140px;
  height: 37px;
  background-image: url(../images/icons/stars.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.stars--4 {
  width: 90px;
}

.stars--3 {
  width: 70px;
}

.stars--2 {
  width: 45px;
}

.stars-- {
  width: 20px;
}

.rating {
  display: inline-block;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin: 0;
}

/* pagination */

.pagination-list {
  padding: 0;
  padding-top: 40px;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
  display: flex;
  gap: 8px;
  border-top: 1px solid #E6E6E6;
  ;
}

.pagination-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82b3d3;
  display: block;
  text-align: center;
  padding: 12px 0;
  width: 60px;
  border-radius: 4px;
}

.pagination-link--curent {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link--all {
  background-color: #ffffff;
  color: #000000;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.pagination-link--curent:hover {
  background-color: #f2f2f2;
}

.pagination-link--curent:active {
  color: #000000;
}

.pagination-link--all:hover {
  background-color: #ffffff;
}

.pagination-link--all:active {
  color: #000000;
}


.subscription--inner {
  background-image: none;
  color: #000000;
  text-align: center;
}

.subscription-text--inner {
  color: #333333;
}

.subscription-form-btn--inner {
  color: #ffffff;
}

.subscription-form-email--inner {
  background-color: #f2f2f2;
}
