@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* index */

/* header */

.main-header {
  text-align: center;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.search-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-nav-link {
  display: block;
  width: 44px;
  height: 64px;
}

.search-nav-link--search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search-nav-link--like {
  background-image: url(../images/icons/like.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search-nav-link-basket {
  padding: 8px 34px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.main-index {
  text-align: center;
}

/* hero */

.hero {
  background: url(../images/hero-background-mask.svg) no-repeat center bottom, url(../images/hero-background.jpg) no-repeat;
}

/* advantages */

.advantages-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item--blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item--light {
  background-color: rgba(131, 179, 211, 0.12);
}

/* features */

.features-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item-title {
  padding-top: 102px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.features-item-title--housing {
  background: url(../images/icons/housing.svg) no-repeat top center;
}

.features-item-title--food {
  background: url(../images/icons/food.svg) no-repeat top center;
}

.features-item-title--souvenirs {
  background: url(../images/icons/souvenirs.svg) no-repeat top center;
}

/* search */

.search-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-link {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

/* subscription */

.subscription {
  background-image: url(../images/Subscribe-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-form-btn {
  padding: 8px 50px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  color: inherit;
}

.subscription-form-email {
  width: 452px;
  height: 52px;
  border: none;
  padding: 0;
  padding-left: 20px;
}

/* main-footer */

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-link {
  display: block;
  width: 48px;
  height: 40px;
}

.socials-link--vkontakte {
  background: url(../images/icons/vkontakte.svg) no-repeat center;
}

.socials-link--telegram {
  background: url(../images/icons/telegram.svg) no-repeat center;
}

.socials-link--youtube {
  background: url(../images/icons/youtube.svg) no-repeat center;
}

.main-footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
